<section class="intro">
  <div class="container">
    <p class="lead">I'm Simon. I'm a freshman at the <a href="#">University of Washington</a> pursuing a double degree in Informatics (B.S, Concentration: Software Development) and Economics (B.S). I'm a motivated student seeking software engineering and data analytics opportunities. I've held leadership positions and have excellent soft skills in education and team-related contexts from my extended experience as a mathematics and SAT tutor. Outside of my academics, I am an avid photographer and musician and actively update my personal portfolio with relevant work.</p>
  </div>
</section>
