
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
      <li><a href="{{ '/projects' | prepend: site.baseurl | prepend: site.url }}">Projects</a></li>
      <li><a href="{{ '/voronoi' | prepend: site.baseurl | prepend: site.url }}">Voronoi Portrait</a></li>
      <li><a href="{{ '/music' | prepend: site.baseurl | prepend: site.url }}">Music</a></li>
      <li><a href="https://simku22.github.io/index.html">Photography</a></li>
    </ul>
  </div>
</nav>
